@import url('https://fonts.googleapis.com/css?family=Lobster|Noto+Sans|Work+Sans');
$lobster: 'Lobster', cursive;
$noto: 'Noto Sans', sans-serif;
$worksans: 'Work Sans', sans-serif;

$dark-blue: #124672;
$verydark-blue: #111926;

$green: #77933c;
$light-green: #c3d79c;

$font12: 0.8571rem;
$font16: 1.143rem;
$font18: 1.286rem;
$font20: 1.429rem;
$font22: 1.571rem;
$font26: 1.857rem;
$font28: 2rem;
$font30: 2.143rem;
$font34: 2.429rem;
$font40: 2.857rem;
$font50: 3.571rem;
$font60: 4.286rem;
$font80: 5.714rem;

$mainheaderH: 160px;
$markerSize: 140px;

@import 'animations';

html, body{
	background: $dark-blue;
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: $noto;
	// font-family: $worksans;
}

body{
	overflow: hidden;
	//display: none;
	opacity: 0;
}

div, span{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#cover-page, .continent, .section{
	height: 100%;
	width: 100%;
	position: relative;
}

#cover-page{
	background: $dark-blue;
	z-index: 99;
}

#cover-headline{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 99;
	font-family: $lobster;
	text-align: center;
	font-size: $font80;
	color: #fff;
	letter-spacing: 4px;
	background: {
		color: $dark-blue;
		image: url('../img/pizza.png');
		repeat: repeat;
		size: 60px 60px;
	}

	> div{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		padding-bottom: 3px;
	}

	> div > span{
		display: none;
		position: relative;
		cursor: pointer;
		height: $mainheaderH;
		line-height: $mainheaderH;
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 5px;
		background-color: rgba(#eecb35, 0.7);
		overflow: hidden;
		transition: 0.5s all;

		&.expanded{
			background-color: rgba(#eecb35, 0.9);
		}
	}

	.underline{
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 100%;
		background: #fff;
	}

	.date{
		font-size: $font16;
		font-style: italic;
		font-family: $noto;
		line-height: $font22;
		letter-spacing: 2px;
	}

	.title{
		font-size: $font40;
		line-height: $font40;
		letter-spacing: 2px;
		margin-top: 40px;
	}
}

#map{
	height: 100%;
	//padding: 50px;
	transition: 0.5s all;
	position: relative;
	display: none;

	> div > img{
		max-width: 100%;
		height: 100%;
		opacity: 0.8;
	}
}

.map-container{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
	width: 1500px;
	height: 850px;
}

.markers{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	> div{
		position: relative;
		height: 100%;
	}
}

.marker{
	display: none;
	position: absolute;
	height: $markerSize;
	width: $markerSize;
	//background: url('../img/marker.png') center no-repeat;
	//background-size: $markerSize $markerSize;
	cursor: pointer;

	&:not(.disabled):hover{
		@include bounce;
	}

	&.disabled{
		color: rgba($verydark-blue, 0.95);
		cursor: default;
	}

	> div{
		position: relative;
		height: 100%;
		width: 100%;
	}

	i{
		font-size: $markerSize;
	}

	img, .img-overlay{
		width: $markerSize - 70px;
		border-radius: 100%;
		display: block;
		position: absolute;
		top: 0;
		margin: 17px 35px 0;
	}

	.img-overlay{
		height: $markerSize - 70px;
		background-color: rgba(#000, 0.6);
	}
}

#marker-north-america{
	top: 14%;
	left: 9%;
}

#marker-south-america{
	top: 54%;
	left: 20%;
}

#marker-asia{
	top: 31%;
	left: 73%;
}

#marker-australia{
	top: 60%;
	left: 82%;
}

#marker-africa{
	top: 33%;
	left: 46%;
}

#marker-europe{
	top: 7%;
	left: 43%;
}

.header{
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 98;
}

.continent{
	background: #69bdb5;
	position: absolute;
	top: 100%;
	z-index: 99;
	outline: none;
	text-align: center;
}

#asia, #australia {
	top: 0;
	left: 100%;
}

#south-america, #africa{
	top: 0;
	right: 100%;
}

#australia .section{
	&:first-child, &:nth-child(2){
		background-color: $light-green;
	}

	background-color: $green;
}

.section{
	background: #fff;
}

h1{
	margin: 0;
}

img.slide{
	display: block;
	max-width: 100%;
	height: 100%;
	margin: auto;
}

.flipIn{
	@include flipIn;
}

.scaleIn{
	transform-origin: 50% 50%;
	animation: scaleIn 0.7s;
}

.underlineIn{
	@include underlineIn;
}

.slideIn{
	@include slideIn;
	display: block;
}

.bounce{
	@include bounce;
	display: block;
}

@media screen and (max-height: 1000px){
	.map-container{
		width: 1350px;
		height: 720px;
	}
}

@media screen and (max-height: 900px){
	.map-container{
		width: 1280px;
		height: 670px;
	}

	#marker-north-america{
		top: 10%;
	}

	#marker-south-america{
		top: 50%;
	}

	#marker-asia{
		top: 27%;
		left: 72%;
	}

	#marker-australia{
		top: 55%;
		left: 81%;
	}

	#marker-europe{
		top: 4%;
		left: 40%;
	}
}


@media screen and (max-height: 800px){
	.map-container{
		width: 1200px;
		height: 600px;
	}

	#marker-north-america{
		top: 15%;
		left: 11%;
	}

	#marker-europe{
		top: 7%;
		left: 43%;
	}
}